.heading-bar {
  height: 60px;
  line-height: 60px;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #cfcfcf;
}

.file-name {
  line-height: 1.5em;
  margin: 0;
}

.file-tool-button {
  width: 60px;
  height: 25px;
  cursor: pointer;
}
